<mat-sidenav-container [ngClass]="{ 'example-container': !isLoginPage }" autosize>
    <mat-sidenav #sidenav *ngIf="isLoggedIn()" class="example-sidenav" mode="side" opened="true">
        <mat-nav-list>
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                <span class="full-width">NAVIGATION</span>
                <!-- <mat-icon mat-list-icon>home</mat-icon> -->
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}">expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
                <a mat-list-item routerLink="home" (click)="hideOnMobile();" routerLinkActive="active">Dashboard</a>
                <a mat-list-item routerLink="overview" (click)="hideOnMobile();" routerLinkActive="active">Application
                    Overview</a>
                <a mat-list-item routerLink="samplecrud" (click)="hideOnMobile();" routerLinkActive="active">Sample Live
                    CRUD Operations</a>
                <a mat-list-item routerLink="ngrxexample" (click)="hideOnMobile();" routerLinkActive="active">NGRX State
                    Management Example</a>
                <a mat-list-item routerLink="pagenotfound" (click)="hideOnMobile();" routerLinkActive="active">Sample
                    404 Not found Page</a>
                <strong><a mat-list-item (click)="swagger();" routerLinkActive="active">SWAGGER - For API's
                        Used</a></strong>
                <a mat-list-item routerLink="aboutme" (click)="this.sidenav.toggle();" routerLinkActive="active">About
                    Me</a>
            </div>

            <!-- Admin Section Starts -->
            <!-- <mat-list-item (click)="toggleMyMenu()">
                <span class="full-width">Admin Section</span>
                <mat-icon class="menu-button" [ngClass]="{'rotated': myMenuExpanded}">expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" [ngClass]="{'expanded' : myMenuExpanded}">
                <a mat-list-item routerLink="/new-submenu-1">Manage Access</a>
                <a mat-list-item routerLink="/new-submenu-2">Sub Menu 2</a>
            </div> -->
            <!-- Admin Section Ends -->

        </mat-nav-list>
        <p style="margin-left: 10px;" *ngIf="time$ | async as time">Your session will expire in: <strong
                style="color: red;">{{ formatTime(time) }}</strong></p>
        <mat-nav-list>
        </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>