<div>
    <a routerLink="login" routerLinkActive="active">Login</a> |
    <a routerLink="home" routerLinkActive="active">Dashboard</a> |
    <a routerLink="aboutus" routerLinkActive="active">About</a> |
    <a routerLink="contactus" routerLinkActive="active">Contact</a> |
    <a routerLink="departments" routerLinkActive="active">Departments</a>|
    <a routerLink="products" routerLinkActive="active">Products</a>
    <a style="cursor: pointer;" (click)="logOut()">Log Out</a>    
</div>

<router-outlet></router-outlet>