table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #065AAE;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

.glowing-text {
  color: #fff; /* White text for a glowing effect */
  text-shadow: 0 0 5px #0646A1, 0 0 10px #0646A1, 0 0 15px #0646A1; /* Blue glow */
}

.beautiful-button {
  margin-left: 5px;
  background-color: #0646A1; /* Green */
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  border: none;
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}